.appointments-row{
    margin-top: 5%;
}

.component{
    margin-top: 2%;
}

.text-row {
    color: var(--darkgreen);
    text-align: left;
}

.app-row{
    background-color: rgb(244, 244, 244);
    border-radius: 30px;
    padding: 5%;
}